{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "contact@yousign.com",
      "name": "Support",
      "url": "https://yousign.com/contact"
    },
    "description": "Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.",
    "license": { "name": "proprietary", "url": "https://yousign.com/terms" },
    "title": "Public Api v3",
    "version": "3.0"
  },
  "servers": [
    {
      "description": "Sandbox URL",
      "url": "https://api-sandbox.yousign.app/v3"
    },
    { "description": "Production URL", "url": "https://api.yousign.app/v3" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    {
      "description": "Person responsible for validating a Signature Request.",
      "name": "Approver"
    },
    {
      "description": "Set of documents generated once a Signature Request is completed.",
      "name": "Audit Trail"
    },
    {
      "description": "This resource provides tracking of the API usage.",
      "name": "Consumption"
    },
    {
      "description": "A saved profile containing some information (name, language, email address, etc.) that can be re-used to create a Signer, Approver, or Follower.",
      "name": "Contact"
    },
    {
      "description": "Allows to customize the look and feel of the signature experience.",
      "name": "Custom Experience"
    },
    {
      "description": "Document that is attached to the Signature Request.",
      "name": "Document"
    },
    {
      "description": "This resource is the digital version of the company stamp.",
      "name": "Electronic Seal"
    },
    {
      "description": "Set of documents generated once a Electronic Seal is completed.",
      "name": "Electronic Seal Audit Trail"
    },
    {
      "description": "Document that is attached to the Electronic Seal.",
      "name": "Electronic Seal Document"
    },
    {
      "description": "Set of Image which can be used in Electronic Seal.",
      "name": "Electronic Seal Image"
    },
    {
      "description": "Dynamic content that will appear on a Document.",
      "name": "Field"
    },
    {
      "description": "Person who is kept informed about the progress of the signing process without being an Approver or a Signer.",
      "name": "Follower"
    },
    {
      "description": "Categorization tag that can be added to a Signature Request.",
      "name": "Label"
    },
    {
      "description": "Extra information attached to a Signature Request.",
      "name": "Metadata"
    },
    {
      "description": "Process of inviting Signers to sign a Document.",
      "name": "Signature Request"
    },
    {
      "description": "Person who will sign a Signature Request.",
      "name": "Signer"
    },
    {
      "description": "Process of asking signers to upload specific documents during the signature process.",
      "name": "Signer Document Request"
    },
    {
      "description": "Process of asking signers to consent to specific needs during the signature process.",
      "name": "Signer Consent Request"
    },
    {
      "description": "A person who can access the Yousign web app of your organization.",
      "name": "User"
    },
    {
      "description": "The Invitation of a new User to join the Yousign organization.",
      "name": "User Invitation"
    },
    {
      "description": "Webhook subscription; enables real-time notifications about events that happen in your Yousign organization.",
      "name": "Webhook"
    },
    {
      "description": "A way to partition your Yousign organization into separate entities.",
      "name": "Workspace"
    },
    {
      "description": "Pre-configuration of all elements of a Signature Request, such as Documents, Signers, Approvers, Fields, and settings.",
      "name": "Template"
    },
    {
      "description": "A feature allowing to store and retrieve documents on Arkhineo for some customers migrated from v2",
      "name": "Archive"
    },
    {
      "description": "Operations that are in beta version, and may be changed or removed in the future.",
      "name": "Beta"
    },
    {
      "description": "Operations that are no longer recommended for use.",
      "name": "Deprecated"
    },
    {
      "description": "KYC Process of verifying the identity associated with a bank account document.",
      "name": "Bank Account Verification"
    },
    {
      "description": "KYC Process of verifying the identity associated with an identity document.",
      "name": "Identity Document Verification"
    },
    {
      "description": "KYC Process of verifying the identity associated with a document.",
      "name": "Identity Video Verification"
    },
    {
      "description": "Retrieve structured and official data about a company.",
      "name": "Company Verification"
    },
    {
      "description": "Check if individuals appear on international sanctions lists or as politically exposed persons (PEPs).",
      "name": "Watchlist Verification"
    },
    {
      "description": "KYC Process of verifying a proof of address document.",
      "name": "Proof of Address Verification"
    },
    {
      "description": "KYC Process of verifying the ownership of a bank account.",
      "name": "Bank Account Connection Verification"
    },
    {
      "description": "KYC Process of verifying a person’s or company’s banking information via the Sepamail DIAMOND network.",
      "name": "Bank Account Lookup Verification"
    }
  ],
  "paths": {
    "/archives": {
      "post": {
        "description": "Archive a file in a secure digital safe for 10 years",
        "operationId": "post-archives",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/UploadArchivedFile" }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArchivedFile" }
              }
            },
            "description": "The upload of the archived file is successful.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Direct upload an archived file",
        "tags": ["Archive"]
      }
    },
    "/archives/{archivedFileId}/download": {
      "get": {
        "description": "Download the archived file using the ArchivedFileId.",
        "operationId": "get-archives-archivedFileId-download",
        "parameters": [
          {
            "description": "ArchivedFileId",
            "in": "path",
            "name": "archivedFileId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": { "format": "binary", "type": "string" }
              }
            },
            "description": "Download of archived file is successful",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Download archived file",
        "tags": ["Archive"]
      }
    },
    "/bank_account_verifications": {
      "get": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nReturns the list of all Bank Account Verifications within your organization.\n",
        "operationId": "get-bank_account_verifications",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Filter by status",
            "in": "query",
            "name": "status",
            "schema": {
              "enum": ["pending", "approved", "declined", "inconclusive"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_bank_account_verifications_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] List Bank Account Verifications",
        "tags": ["Deprecated"]
      },
      "post": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nCreates a new Bank Account Verification resource.\n",
        "operationId": "post-bank_account_verifications",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/LegacyCreateBankAccountVerification"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyBankAccountVerificationCreated"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] Initiate a new Bank Account Verification",
        "tags": ["Deprecated"]
      }
    },
    "/bank_account_verifications/{bankAccountVerificationId}": {
      "get": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nGet the detailed results of a bank account verification.\n",
        "operationId": "get-bank_account_verifications-bankAccountVerificationId",
        "parameters": [
          {
            "description": "The bank account verification ID",
            "in": "path",
            "name": "bankAccountVerificationId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_bank_account_verifications_bankAccountVerificationId_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] Retrieve a bank account verification",
        "tags": ["Deprecated"]
      }
    },
    "/consumptions": {
      "get": {
        "deprecated": true,
        "description": "Get signatures Consumption by source",
        "operationId": "get-consumptions",
        "parameters": [
          {
            "description": "The \"from\" date must not be more than 1 year in the past",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "The \"to\" date must be more recent than the \"from\" date",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "The API authentication key to use to retrieve the data",
            "in": "query",
            "name": "authentication_key",
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Consumption" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get Consumptions",
        "tags": ["Consumption"]
      }
    },
    "/consumptions/addons": {
      "get": {
        "description": "Retrieves detailed addon consumption for the current subscription period.",
        "operationId": "get-consumption-addon",
        "parameters": [
          {
            "description": "A list of add-ons to filter the results on.",
            "in": "query",
            "name": "addons",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "electronic_signature",
                  "advanced_electronic_signature",
                  "qualified_electronic_signature_identity_verification",
                  "qualified_electronic_signature_saved_identity",
                  "electronic_seal",
                  "advanced_electronic_seal",
                  "archiving"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_consumption_addon_200_response"
                }
              }
            },
            "description": "Return the addons consumption per addon.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get detailed addon consumption.",
        "tags": ["Consumption"]
      }
    },
    "/consumptions/detail": {
      "get": {
        "description": "Returns the consumption of your organization over a specified period.",
        "operationId": "get-consumption-detail",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The starting date for data retrieval.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "The end date for data retrieval. The `to` date must be later than the `from` date and within one year of the `from` date.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "Specifies how data is grouped. By default, it returns the total consumption for the entire organization. If set to `workspace`, the data will be grouped by Workspace.",
            "in": "query",
            "name": "breakdown_type",
            "required": false,
            "schema": {
              "default": "organization",
              "enum": ["organization", "workspace"],
              "type": "string"
            }
          },
          {
            "description": "A list of Workspace IDs to filter the results.",
            "in": "query",
            "name": "workspace_ids",
            "required": false,
            "schema": {
              "items": { "$ref": "#/components/schemas/UUID" },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_consumption_detail_200_response"
                }
              }
            },
            "description": "Return the detailed consumption.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get detailed Consumption data",
        "tags": ["Consumption"]
      }
    },
    "/consumptions/export": {
      "get": {
        "description": "Get a binary .csv file containing all the Consumption data of the underlying signatures",
        "operationId": "get-consumptions-export",
        "parameters": [
          {
            "description": "The \"from\" date must not be more than 1 year in the past",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "The \"to\" date must be more recent than the \"from\" date",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DateYMD" }
          },
          {
            "description": "The API authentication key to use to retrieve the data",
            "in": "query",
            "name": "authentication_key",
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": { "text/csv": { "schema": { "type": "string" } } },
            "description": "Returns a .csv file containing the raw Consumption data.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Export Consumption data",
        "tags": ["Consumption"]
      }
    },
    "/contacts": {
      "get": {
        "description": "Returns the list of all the Contacts within your organization.",
        "operationId": "get-contacts",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_contacts_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "List Contacts",
        "tags": ["Contact"]
      },
      "post": {
        "description": "Creates a new Contact.",
        "operationId": "post-contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateContact" }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Create a Contact",
        "tags": ["Contact"]
      }
    },
    "/contacts/{contactId}": {
      "delete": {
        "description": "Deletes a given Contact.",
        "operationId": "delete-contacts-contactId",
        "parameters": [
          {
            "description": "Contact Id",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/NoContentDelete" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Delete a Contact",
        "tags": ["Contact"]
      },
      "get": {
        "description": "Retrieves a given Contact.",
        "operationId": "get-contacts-contactId",
        "parameters": [
          {
            "description": "Contact Id",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get a Contact",
        "tags": ["Contact"]
      },
      "patch": {
        "description": "Updates a given Contact.\nAny parameters not provided are left unchanged.\n",
        "operationId": "patch-contacts-contactId",
        "parameters": [
          {
            "description": "Contact Id",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateContact" }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Update a Contact",
        "tags": ["Contact"]
      }
    },
    "/custom_experiences": {
      "get": {
        "description": "Returns the list of all Custom Experiences in your Organization.\nYou can limit the number of items returned by using pagination.\n",
        "operationId": "get-custom_experiences",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_custom_experiences_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "List Custom Experiences",
        "tags": ["Custom Experience"]
      },
      "post": {
        "description": "Creates a new Custom Experience.",
        "operationId": "post-custom-experience",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomExperience"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomExperience" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Create a Custom Experience",
        "tags": ["Custom Experience"]
      }
    },
    "/custom_experiences/{customExperienceId}": {
      "delete": {
        "description": "Deletes a given Custom Experience.",
        "operationId": "delete-custom_experience",
        "parameters": [
          {
            "description": "Custom Experience Id",
            "in": "path",
            "name": "customExperienceId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/NoContentDelete" },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Delete a Custom Experience",
        "tags": ["Custom Experience"]
      },
      "get": {
        "description": "Retrieves a given Custom Experience.",
        "operationId": "get-custom_experiences-customExperienceId",
        "parameters": [
          {
            "description": "Custom Experience Id",
            "in": "path",
            "name": "customExperienceId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomExperience" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get a Custom Experience",
        "tags": ["Custom Experience"]
      },
      "patch": {
        "description": "Updates a given Custom Experience.\nAny parameters not provided are left unchanged.\n",
        "operationId": "patch-custom_experiences-customExperienceId",
        "parameters": [
          {
            "description": "Custom Experience Id",
            "in": "path",
            "name": "customExperienceId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomExperience"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomExperience" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Update a Custom Experience",
        "tags": ["Custom Experience"]
      }
    },
    "/custom_experiences/{customExperienceId}/logo": {
      "delete": {
        "description": "Deletes the logo of a Custom Experience.",
        "operationId": "delete-custom_experience-logo",
        "parameters": [
          {
            "description": "Custom Experience Id",
            "in": "path",
            "name": "customExperienceId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/NoContentDelete" },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Delete a Custom Experience logo",
        "tags": ["Custom Experience"]
      },
      "post": {
        "description": "Updates the logo of a given Custom Experience by uploading the image of your choice.",
        "operationId": "patch-custom-experience-logo",
        "parameters": [
          {
            "description": "Custom Experience Id",
            "in": "path",
            "name": "customExperienceId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/patch_custom_experience_logo_request"
              }
            }
          },
          "description": "Update a Custom Experience logo"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomExperience" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Update a Custom Experience logo",
        "tags": ["Custom Experience"]
      }
    },
    "/documents": {
      "post": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.",
        "operationId": "post-documents",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentFromMultipart"
              }
            }
          },
          "description": "Upload a Document"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Document" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] Upload a Document",
        "tags": ["Deprecated"],
        "x-readme": { "samples-enabled": false, "explorer-enabled": false }
      }
    },
    "/electronic_seal_documents": {
      "post": {
        "description": "Create an Electronic Seal Document from an other one.",
        "operationId": "upload-electronic_seal-document",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateElectronicSealDocument"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateElectronicSealDocumentFromJson"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectronicSealDocument"
                }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Create an Electronic Seal Document",
        "tags": ["Electronic Seal Document"]
      }
    },
    "/electronic_seal_documents/{electronicSealDocumentId}/download": {
      "get": {
        "description": "Download a given Electronic Seal Document.",
        "operationId": "download-electronic-seal-document",
        "parameters": [
          {
            "description": "Electronic Seal Id",
            "in": "path",
            "name": "electronicSealDocumentId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": { "format": "binary", "type": "string" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Download an Electronic Seal Document",
        "tags": ["Electronic Seal Document"]
      }
    },
    "/electronic_seal_images": {
      "get": {
        "description": "Lists Electronic Seal Images.\nThe list is paginated and can be filtered by the `after` cursor.\n",
        "operationId": "list-electronic_seal-images",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_electronic_seal_images_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "List Electronic Seal Images",
        "tags": ["Electronic Seal"]
      },
      "post": {
        "description": "Upload an Electronic Seal Image to use for creating an Electronic Seal (can be used for several Electronic Seals).",
        "operationId": "upload-electronic_seal-image",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadElectronicSealImage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ElectronicSealImage" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Upload an Electronic Seal Image",
        "tags": ["Electronic Seal Image"]
      }
    },
    "/electronic_seal_images/{electronicSealImageId}": {
      "delete": {
        "description": "Deletes a given Electronic Seal Image.",
        "operationId": "delete-electronic-seal-image",
        "parameters": [
          {
            "description": "Electronic Seal Image Id",
            "in": "path",
            "name": "electronicSealImageId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/NoContentDelete" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Delete an Electronic Seal Image",
        "tags": ["Electronic Seal Image"]
      }
    },
    "/electronic_seal_images/{electronicSealImageId}/download": {
      "get": {
        "description": "Download a given Electronic Seal Image.",
        "operationId": "download-electronic-seal-image",
        "parameters": [
          {
            "description": "Electronic Seal Image Id",
            "in": "path",
            "name": "electronicSealImageId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "image/png": {
                "schema": { "format": "binary", "type": "string" }
              },
              "image/jpg": {
                "schema": { "format": "binary", "type": "string" }
              },
              "image/gif": {
                "schema": { "format": "binary", "type": "string" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Download an Electronic Seal Image",
        "tags": ["Electronic Seal Image"]
      }
    },
    "/electronic_seals": {
      "post": {
        "description": "Create a new Electronic Seal",
        "operationId": "post-electronic-seals",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateElectronicSealPayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ElectronicSeal" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Create an Electronic Seal",
        "tags": ["Electronic Seal"]
      }
    },
    "/electronic_seals/{electronicSealId}": {
      "get": {
        "description": "Retrieves a given Electronic Seal.",
        "operationId": "get-electronic-seal",
        "parameters": [
          {
            "description": "Electronic Seal Id",
            "in": "path",
            "name": "electronicSealId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ElectronicSeal" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get an Electronic Seal",
        "tags": ["Electronic Seal"]
      }
    },
    "/electronic_seals/{electronicSealId}/audit_trails": {
      "get": {
        "description": "Electronic Seal Audit Trail is only available when the Electronic Seal is \"done\".",
        "operationId": "get-electronic_seal-audit_trail",
        "parameters": [
          {
            "description": "Electronic Seal Id",
            "in": "path",
            "name": "electronicSealId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectronicSealAuditTrail"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get an Electronic Seal Audit Trail",
        "tags": ["Electronic Seal Audit Trail"]
      }
    },
    "/electronic_seals/{electronicSealId}/audit_trails/download": {
      "get": {
        "description": "Electronic Seal Audit Trail is only available when the Electronic Seal is \"done\".",
        "operationId": "download-electronic_seal-audit_trail",
        "parameters": [
          {
            "description": "Electronic Seal Id",
            "in": "path",
            "name": "electronicSealId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": { "format": "binary", "type": "string" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Download an Electronic Seal Audit Trail",
        "tags": ["Electronic Seal Audit Trail"]
      }
    },
    "/id_document_verifications": {
      "get": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nReturns the list of all ID Document Verifications within your organization.\n",
        "operationId": "get-id_document_verifications",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Filter by status",
            "in": "query",
            "name": "status",
            "schema": {
              "enum": ["pending", "approved", "declined", "inconclusive"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_id_document_verifications_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] List ID Document Verifications",
        "tags": ["Deprecated"]
      },
      "post": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nVerify a person’s ID document by sending the file containing their ID document (ID card, passport, residence permit or driving license).\n",
        "operationId": "create_id_document_verification",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/create_id_document_verification_request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyIdDocumentVerificationCreated"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] Initiate a new ID document verification",
        "tags": ["Deprecated"]
      }
    },
    "/id_document_verifications/{idDocumentVerificationId}": {
      "get": {
        "deprecated": true,
        "description": "Deprecated endpoint, do not use.\nGet the detailed results of an ID document verification, including the status of the verification, the reasons in case of rejection and the data extracted from the ID document.\n",
        "operationId": "get_id_document_verification",
        "parameters": [
          {
            "description": "The ID document verification ID",
            "in": "path",
            "name": "idDocumentVerificationId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_id_document_verification_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "[DEPRECATED] Retrieve an ID document verification",
        "tags": ["Deprecated"]
      }
    },
    "/labels": {
      "get": {
        "description": "Returns the list of all the Labels within your organization.",
        "operationId": "get-labels",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Filter by `name`. Allowed operators: `eq`, `in`.\nExample: `name[eq]=Miscellaneous`\n",
            "example": { "eq": ["Miscellaneous"] },
            "explode": true,
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "description": "Filter by name.",
              "minProperties": 1,
              "type": "object"
            },
            "style": "deepObject"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_labels_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "List Labels",
        "tags": ["Label"]
      },
      "post": {
        "description": "Creates a new Label in the organization.",
        "operationId": "post-labels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateLabel" }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Label" }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Create a new Label",
        "tags": ["Label"]
      }
    },
    "/labels/{labelId}": {
      "delete": {
        "description": "Deletes a given Label. This will remove the Label from all Signature Requests it is associated with.",
        "operationId": "delete-labels-id",
        "parameters": [
          {
            "description": "Label Id",
            "in": "path",
            "name": "labelId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/NoContentDelete" },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Delete a Label",
        "tags": ["Label"]
      },
      "get": {
        "description": "Retrieves a given Label within your organization.",
        "operationId": "get-labels-id",
        "parameters": [
          {
            "description": "Label Id",
            "in": "path",
            "name": "labelId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Label" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Get a Label",
        "tags": ["Label"]
      },
      "patch": {
        "description": "Updates a given Label.\nAny parameters not provided are left unchanged.\n",
        "operationId": "patch-label-id",
        "parameters": [
          {
            "description": "Label Id",
            "in": "path",
            "name": "labelId",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UUID" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateLabel" }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Label" }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/ForbiddenError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "405": { "$ref": "#/components/responses/MethodNotAllowed" },
          "415": { "$ref": "#/components/responses/UnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        },
        "summary": "Update a Label",
        "tags": ["Label"]
      }
    },
    "/signature_requests": {
      "get": {
        "description": "Returns the list of all Signatures Requests in your organization. You can limit the number of items returned by using filters and pagination. Consult our guide for more details and examples.",
        "operationId": "get-signature_requests",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": { "minLength": 1, "type": "string" }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Filter by `status`. Allowed operators: `eq`, `in`.\nExample: `status[in]=draft,done`\n",
            "example": { "eq": ["draft"], "in": ["draft", "done"] },
            "explode": true,
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "description": "Filter by status.",
              "minProperties": 1,
              "type": "object"
            },
            "style": "deepObject"
          },
          {
            "description": "Filter by `created_at`. Allowed operators: `eq`, `between`, `before`, `after`.\nFormat: the date format required is `yyyy-mm-dd`\nExample: `created_at[between]=2025-03-02,2025-03-04`\n",
            "example": {
              "between": ["2025-03-02", "2025-03-04"],
              "before": ["2025-03-02"]
            },
            "explode": true,
            "in": "query",
            "name": "created_at",
            "required": false,
            "schema": {
              "description": "Filter by date of creation.",
              "minProperties": 1,
              "type": "object"
            },
            "style": "deepObject"
          },
          {
            "description": "Filter by `workspace_id`. Allowed operators: `eq`.\nExample: `workspace_id[eq]=9b6ed2f3-244f-487a-baa1-bbe4f51c8748`\n",
            "example": { "eq": ["9b6ed2f3-244f-487a-baa1-bbe4f51c8748"] },
            "explode": true,
            "in": "query",
            "name": "workspace_id",
            "required": false,
            "schema": {
              "description": "Filter by workspace_id.",
[...]
