{
  "openapi": "3.0.0",
  "info": {
    "title": "Public Api v3",
    "version": "3.0",
    "description": "Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.",
    "contact": { "name": "Support", "email": "contact@yousign.com" }
  },
  "servers": [
    {
      "url": "https://api-sandbox.yousign.app/v3",
      "description": "Sandbox URL"
    },
    { "url": "https://api.yousign.app/v3", "description": "Production URL" },
    { "url": "https://dev.yousign.io/api_public/v3" }
  ],
  "paths": {
    "/signature_requests": {
      "post": {
        "operationId": "post-signature_requests",
        "summary": "Initiate a new signature request",
        "tags": ["Signature Request"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Name of the signature request"
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": ["none", "email"],
                    "description": "Delivery mode to notify signers."
                  },
                  "ordered_signers": {
                    "type": "boolean",
                    "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                  },
                  "reminder_settings": {
                    "type": "object",
                    "description": "Enable automatic reminders for pending signers.",
                    "nullable": true,
                    "default": null,
                    "properties": {
                      "interval_in_days": {
                        "type": "number",
                        "enum": [1, 2, 7, 14]
                      },
                      "max_occurrences": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 10,
                        "example": 5
                      }
                    },
                    "required": ["interval_in_days", "max_occurrences"]
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Europe/Paris",
                    "description": "tz database format"
                  },
                  "email_custom_note": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Please sign these documents as soon as possible.",
                    "description": "A custom note added to emails sent to signers."
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                    "description": "Due date of the signature request (yyyy-mm-dd). Default to 6 month after the activation."
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "description": "Create a signature request from an existing template. This parameter is not available in Sandbox."
                  },
                  "external_id": {
                    "type": "string",
                    "pattern": "^[\\w\\-@.%+]+$",
                    "maxLength": 255,
                    "description": "Store a custom id that will be added to webhooks & appended to redirect urls.",
                    "nullable": true
                  },
                  "branding_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific branding to customize the signature experience.",
                    "nullable": true
                  },
                  "custom_experience_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific Custom Experience to customize the signature experience.",
                    "nullable": true
                  },
                  "documents": {
                    "deprecated": true,
                    "type": "array",
                    "maxItems": 5,
                    "uniqueItems": true,
                    "description": "You can directly attach orphan documents to the signature request.",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "89120884-d29a-4b1a-ac7b-a9e73a872795"
                    }
                  },
                  "signers": {
                    "deprecated": true,
                    "type": "array",
                    "description": "Can only be used if you add documents at the same time.",
                    "items": {
                      "description": "Create signers",
                      "anyOf": [
                        {
                          "title": "SignatureRequest_SignerFromInfoInput",
                          "type": "object",
                          "description": "Create a signer from info",
                          "properties": {
                            "info": {
                              "type": "object",
                              "description": "create new signer",
                              "required": [
                                "first_name",
                                "last_name",
                                "email",
                                "locale"
                              ],
                              "properties": {
                                "first_name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255
                                },
                                "last_name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255
                                },
                                "email": {
                                  "type": "string",
                                  "minLength": 1,
                                  "format": "email"
                                },
                                "phone_number": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "E.164 format. Becomes mandatory if `signature_authentication_mode` requires a phone number.",
                                  "nullable": true
                                },
                                "locale": {
                                  "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1approvers~1%7BapproverId%7D/patch/requestBody/content/application~1json/schema/properties/info/properties/locale"
                                }
                              }
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers/post/requestBody/content/application~1json/schema/oneOf/0/properties/fields/items"
                              }
                            },
                            "signature_level": {
                              "type": "string",
                              "default": "electronic_signature",
                              "enum": [
                                "electronic_signature",
                                "advanced_electronic_signature",
                                "electronic_signature_with_qualified_certificate",
                                "qualified_electronic_signature_mode_1"
                              ]
                            },
                            "signature_authentication_mode": {
                              "type": "string",
                              "nullable": true,
                              "default": null,
                              "enum": [null, "otp_email", "otp_sms", "no_otp"]
                            },
                            "redirect_urls": {
                              "type": "object",
                              "properties": {
                                "success": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                },
                                "error": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                }
                              }
                            },
                            "custom_text": {
                              "type": "object",
                              "properties": {
                                "request_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "request_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                },
                                "reminder_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "reminder_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "required": ["info", "signature_level"]
                        },
                        {
                          "title": "SignatureRequest_SignerFromUserIdInput",
                          "type": "object",
                          "description": "Create a signer from a user",
                          "properties": {
                            "user_id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                              "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                              "description": "Create signer from an existing user"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers/post/requestBody/content/application~1json/schema/oneOf/0/properties/fields/items"
                              }
                            },
                            "signature_level": {
                              "type": "string",
                              "default": "electronic_signature",
                              "enum": [
                                "electronic_signature",
                                "advanced_electronic_signature",
                                "electronic_signature_with_qualified_certificate",
                                "qualified_electronic_signature_mode_1"
                              ]
                            },
                            "signature_authentication_mode": {
                              "type": "string",
                              "nullable": true,
                              "default": null,
                              "enum": [null, "otp_email", "otp_sms", "no_otp"]
                            },
                            "redirect_urls": {
                              "type": "object",
                              "properties": {
                                "success": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                },
                                "error": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                }
                              }
                            },
                            "custom_text": {
                              "type": "object",
                              "properties": {
                                "request_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "request_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                },
                                "reminder_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "reminder_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "required": ["user_id", "signature_level"]
                        },
                        {
                          "title": "SignatureRequest_SignerFromContactIdInput",
                          "type": "object",
                          "description": "Create signer from a contact",
                          "properties": {
                            "contact_id": {
                              "type": "string",
                              "description": "Create signer from an existing contact",
                              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                              "example": "ddecfb85-8a45-4254-b940-6171b8df0a90",
                              "format": "uuid"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers/post/requestBody/content/application~1json/schema/oneOf/0/properties/fields/items"
                              }
                            },
                            "signature_level": {
                              "type": "string",
                              "default": "electronic_signature",
                              "enum": [
                                "electronic_signature",
                                "advanced_electronic_signature",
                                "electronic_signature_with_qualified_certificate",
                                "qualified_electronic_signature_mode_1"
                              ]
                            },
                            "signature_authentication_mode": {
                              "type": "string",
                              "nullable": true,
                              "default": null,
                              "enum": [null, "otp_email", "otp_sms", "no_otp"]
                            },
                            "redirect_urls": {
                              "type": "object",
                              "properties": {
                                "success": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                },
                                "error": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 255,
                                  "nullable": true
                                }
                              }
                            },
                            "custom_text": {
                              "type": "object",
                              "properties": {
                                "request_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "request_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                },
                                "reminder_subject": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 150,
                                  "nullable": true
                                },
                                "reminder_body": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "required": ["contact_id", "signature_level"]
                        }
                      ]
                    }
                  },
                  "workspace_id": {
                    "type": "string",
                    "description": "Scope the signature request to a specific workspace",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
                    "nullable": true
                  },
                  "audit_trail_locale": {
                    "type": "string",
                    "enum": ["en", "fr"],
                    "description": "Define the locale for the generated audit trail.",
                    "nullable": true,
                    "example": "en"
                  }
                },
                "required": ["name", "delivery_mode"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignatureRequest",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "ongoing",
                        "done",
                        "deleted",
                        "expired",
                        "canceled",
                        "approval",
                        "rejected"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128,
                      "example": "signature request name"
                    },
                    "delivery_mode": {
                      "type": "string",
                      "enum": ["email", "none"]
                    },
                    "created_at": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2024-01-18T22:59:00+00:00",
                      "format": "date-time"
                    },
                    "ordered_signers": {
                      "type": "boolean",
                      "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                    },
                    "reminder_settings": {
                      "type": "object",
                      "required": ["interval_in_days", "max_occurrences"],
                      "nullable": true,
                      "properties": {
                        "interval_in_days": {
                          "type": "number",
                          "enum": [1, 2, 7, 14]
                        },
                        "max_occurrences": {
                          "type": "number",
                          "maximum": 10,
                          "minimum": 1
                        }
                      }
                    },
                    "timezone": { "type": "string", "example": "Europe/Paris" },
                    "email_custom_note": {
                      "type": "string",
                      "example": "Please sign these documents as soon as possible.",
                      "nullable": true
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-18T22:59:00+00:00"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "app",
                        "public_api",
                        "connector_hubspot_api",
                        "connector_salesforce_api",
                        "connector_google_api",
                        "connector_zapier_api"
                      ]
                    },
                    "signers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "status": {
                            "type": "string",
                            "enum": [
                              "initiated",
                              "notified",
                              "verified",
                              "processing",
                              "consent_given",
                              "signed",
                              "aborted",
                              "error"
                            ]
                          }
                        },
                        "required": ["id", "status"]
                      }
                    },
                    "approvers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "status": {
                            "type": "string",
                            "enum": [
                              "initiated",
                              "notified",
                              "approved",
                              "rejected"
                            ]
                          }
                        },
                        "required": ["id", "status"]
                      }
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "nature": {
                            "type": "string",
                            "enum": ["attachment", "signable_document"]
                          }
                        },
                        "required": ["id", "nature"]
                      }
                    },
                    "sender": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": { "type": "string" },
                        "email": { "type": "string" }
                      }
                    },
                    "external_id": {
                      "type": "string",
                      "example": "An_external-ID",
                      "nullable": true
                    },
                    "branding_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                      "nullable": true,
                      "deprecated": true
                    },
                    "custom_experience_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                      "nullable": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c"
                    },
                    "audit_trail_locale": {
                      "type": "string",
                      "enum": ["en", "fr"],
                      "example": "en"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "name",
                    "delivery_mode",
                    "created_at",
                    "ordered_signers",
                    "reminder_settings",
                    "timezone",
                    "email_custom_note",
                    "expiration_date",
                    "source",
                    "signers",
                    "documents",
                    "sender",
                    "external_id",
                    "branding_id",
                    "custom_experience_id",
                    "audit_trail_locale"
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "get": {
        "operationId": "get-signature_requests",
        "summary": "List all Signature Requests",
        "tags": ["Signature Request"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "ongoing",
                "done",
                "deleted",
                "expired",
                "canceled",
                "approval",
                "rejected"
              ]
            },
            "in": "query",
            "name": "status",
            "description": "Filter by status"
          },
          { "$ref": "#/paths/~1users/get/parameters/0" },
          {
            "schema": {
              "type": "string",
              "example": "an_external_id",
              "pattern": "^[\\w\\-@.%+]+$"
            },
            "in": "query",
            "name": "external_id",
            "description": "Filter by external_id"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["app", "public_api"],
                "default": "public_api"
              }
            },
            "in": "query",
            "name": "source[]",
            "description": "Filter by source"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/paths/~1users/get/responses/200/content/application~1json/schema/properties/meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1signature_requests/post/responses/201/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}": {
      "parameters": [
        {
          "schema": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/parameters/0/schema"
          },
          "name": "signatureRequestId",
          "description": "Signature Request Id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "operationId": "get-signature_requests-signatureRequestId",
        "summary": "Fetch a signature request",
        "tags": ["Signature Request"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "patch": {
        "operationId": "patch-signature_requests-signatureRequestId",
        "summary": "Update a Signature Request",
        "tags": ["Signature Request"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": ["none", "email"],
                    "description": "Delivery mode to notify signers."
                  },
                  "ordered_signers": {
                    "type": "boolean",
                    "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                  },
                  "reminder_settings": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "interval_in_days": {
                        "type": "number",
                        "enum": [1, 2, 7, 14]
                      },
                      "max_occurrences": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 10,
                        "example": 5
                      }
                    },
                    "required": ["interval_in_days", "max_occurrences"]
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Europe/Paris",
                    "description": "tz database format"
                  },
                  "email_custom_note": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Please sign these documents as soon as possible.",
                    "nullable": true
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Due date of the signature request (yyyy-mm-dd).",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
                  },
                  "external_id": {
                    "type": "string",
                    "pattern": "^[\\w\\-@.%+]+$",
                    "maxLength": 255,
                    "nullable": true
                  },
                  "branding_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "nullable": true
                  },
                  "custom_experience_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "description": "Use a specific Custom Experience to customize the signature experience.",
                    "nullable": true
                  },
                  "workspace_id": {
                    "type": "string",
                    "description": "Transfer the Signature Request into a given Workspace.",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "3a93d3b5-fb3b-4abf-9e70-26315b33506b",
                    "nullable": true
                  },
                  "audit_trail_locale": {
                    "type": "string",
                    "enum": ["en", "fr"],
                    "description": "Define the locale for the generated audit trail.",
                    "nullable": true,
                    "example": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "delete": {
        "operationId": "delete-signature_requests-signatureRequestId",
        "summary": "Delete a signature request",
        "description": "Delete a signature request (in draft status)",
        "tags": ["Signature Request"],
        "responses": {
          "204": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/delete/responses/204"
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/activate": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-signatures",
        "summary": "Activate a signature request",
        "tags": ["Signature Request"],
        "responses": {
          "201": {
            "description": "The signature request has been activated",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignatureRequestActivated",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "example": "89120884-d29a-4b1a-ac7b-a9e73a872795",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "ongoing",
                        "done",
                        "deleted",
                        "expired",
                        "canceled",
                        "approval",
                        "rejected"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128,
                      "example": "signature request name"
                    },
                    "delivery_mode": {
                      "type": "string",
                      "enum": ["email", "none"]
                    },
                    "created_at": {
                      "type": "string",
                      "minLength": 1,
                      "example": "2024-01-18T22:59:00+00:00",
                      "format": "date-time"
                    },
                    "ordered_signers": {
                      "type": "boolean",
                      "description": "Enable an ordered workflow, each signer will be requested to sign in a sequential order"
                    },
                    "reminder_settings": {
                      "type": "object",
                      "required": ["interval_in_days", "max_occurrences"],
                      "nullable": true,
                      "properties": {
                        "interval_in_days": {
                          "type": "number",
                          "enum": [1, 2, 7, 14]
                        },
                        "max_occurrences": {
                          "type": "number",
                          "maximum": 10,
                          "minimum": 1
                        }
                      }
                    },
                    "timezone": { "type": "string", "example": "Europe/Paris" },
                    "email_custom_note": {
                      "type": "string",
                      "example": "Please sign these documents as soon as possible.",
                      "nullable": true
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-18T22:59:00+00:00"
                    },
                    "signers": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "description": "",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1,
                            "enum": [
                              "initiated",
                              "notified",
                              "verified",
                              "processing",
                              "consent_given",
                              "signed",
                              "aborted",
                              "error"
                            ]
                          },
                          "signature_link": {
                            "nullable": true,
                            "type": "string",
                            "minLength": 1,
                            "format": "uri"
                          },
                          "signature_link_expiration_date": {
                            "nullable": true,
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-18T22:59:00+00:00"
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "signature_link",
                          "signature_link_expiration_date"
                        ]
                      }
                    },
                    "approvers": {
                      "type": "array",
                      "uniqueItems": true,
                      "items": {
                        "description": "",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "minLength": 1,
                            "enum": [
                              "initiated",
                              "notified",
                              "approved",
                              "rejected"
                            ]
                          },
                          "approval_link": {
                            "nullable": true,
                            "type": "string",
                            "minLength": 1,
                            "format": "uri"
                          },
                          "approval_link_expiration_date": {
                            "nullable": true,
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-18T22:59:00+00:00"
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "approval_link",
                          "approval_link_expiration_date"
                        ]
                      }
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "nature": { "type": "string" }
                        },
                        "required": ["id", "nature"]
                      }
                    },
                    "external_id": {
                      "type": "string",
                      "maxLength": 255,
                      "pattern": "^[\\w\\-@.%+]+$",
                      "nullable": true
                    },
                    "branding_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                      "nullable": true
                    },
                    "custom_experience_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                      "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                      "nullable": true
                    },
                    "audit_trail_locale": {
                      "type": "string",
                      "enum": ["en", "fr"],
                      "example": "en"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "name",
                    "delivery_mode",
                    "created_at",
                    "ordered_signers",
                    "reminder_settings",
                    "timezone",
                    "email_custom_note",
                    "expiration_date",
                    "signers",
                    "documents",
                    "external_id",
                    "branding_id",
                    "custom_experience_id",
                    "audit_trail_locale"
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/cancel": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-cancel",
        "summary": "Cancel a Signature Request",
        "tags": ["Signature Request"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "contractualization_aborted",
                      "errors_in_document",
                      "other"
                    ]
                  },
                  "custom_note": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500
                  }
                },
                "required": ["reason", "custom_note"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The signature request has been canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/reactivate": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-reactivate",
        "summary": "Reactivate an expired signature request",
        "tags": ["Signature Request"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                    "description": "Due date of the signature request (yyyy-mm-dd). Default to 6 month after the activation."
                  }
                },
                "required": ["expiration_date"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The signature request has been reactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1signature_requests/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/documents": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-documents",
        "summary": "Add Document to a Signature Request",
        "tags": ["Document"],
        "requestBody": {
          "description": "Sending file with metadata",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/paths/~1documents/post/requestBody/content/multipart~1form-data/schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1documents/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "get": {
        "operationId": "get-signature_requests-signatureRequestId-documents",
        "summary": "List Signature Request's documents",
        "tags": ["Document"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["attachment", "signable_document"]
            },
            "in": "query",
            "name": "nature",
            "description": "Filter by nature"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/paths/~1documents/post/responses/201/content/application~1json/schema"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/documents/download": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "get": {
        "operationId": "get-signature_requests-signatureRequestId-documents-download",
        "summary": "Download Signature Request's documents",
        "tags": ["Document"],
        "parameters": [
          {
            "schema": { "type": "string", "enum": ["current", "completed"] },
            "in": "query",
            "name": "version",
            "description": "Specify documents version to download, \"completed\" is only available when the signature request status is \"done\"."
          },
          {
            "schema": { "type": "boolean" },
            "in": "query",
            "name": "archive",
            "description": "Force zip archive download"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/zip, application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        },
        {
          "schema": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/parameters/0/schema"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "get": {
        "operationId": "get-signature_requests-:signatureRequestId-documents-:-documentId",
        "summary": "Get a Document",
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1documents/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "delete": {
        "operationId": "delete-signature_requests-signatureRequestId-documents-documentId",
        "summary": "Delete a Document",
        "tags": ["Document"],
        "responses": {
          "204": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/delete/responses/204"
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      },
      "patch": {
        "operationId": "patch-signature_requests-signatureRequestId-documents-documentId",
        "summary": "Update a Document",
        "tags": ["Document"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nature": {
                    "type": "string",
                    "enum": ["attachment", "signable_document"]
                  },
                  "insert_after_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                    "example": "8b6ed2f3-244f-487a-baa1-bbe4f51c8744",
                    "description": "Insert just after the position of the specified document id",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "The password required to unlock the document if it is protected",
                    "example": "MyPa$$word"
                  },
                  "initials": {
                    "nullable": true,
                    "anyOf": [
                      {
                        "$ref": "#/paths/~1documents/post/requestBody/content/multipart~1form-data/schema/properties/initials/anyOf/0"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1documents/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}/download": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        },
        {
          "schema": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/parameters/0/schema"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "get": {
        "operationId": "get-signature_requests-signatureRequestId-documents-documents-id-download",
        "summary": "Download a single Signature Request's Document",
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/documents/{documentId}/replace": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        },
        {
          "schema": {
            "$ref": "#/paths/~1webhooks~1%7BwebhookId%7D/parameters/0/schema"
          },
          "name": "documentId",
          "in": "path",
          "required": true,
          "description": "Document Id"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-documents-documentId-replace",
        "summary": "Replace a Document in a Signature Request",
        "tags": ["Document"],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1documents/post/responses/201/content/application~1json/schema"
                }
              }
            }
          },
          "400": { "$ref": "#/paths/~1users/get/responses/400" },
          "401": { "$ref": "#/paths/~1users/get/responses/401" },
          "403": { "$ref": "#/paths/~1webhooks/get/responses/403" },
          "404": { "$ref": "#/paths/~1webhooks/post/responses/404" }
        }
      }
    },
    "/signature_requests/{signatureRequestId}/signers": {
      "parameters": [
        {
          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D/parameters/0"
        }
      ],
      "post": {
        "operationId": "post-signature_requests-signatureRequestId-signers",
        "summary": "Create a new Signer",
        "tags": ["Signer"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "description": "Create a new signer from scratch",
                    "properties": {
                      "info": {
                        "type": "object",
                        "required": [
                          "first_name",
                          "last_name",
                          "email",
                          "locale"
                        ],
                        "properties": {
                          "first_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "last_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1,
                            "format": "email"
                          },
                          "phone_number": {
                            "type": "string",
                            "minLength": 1,
                            "description": "E.164 format. Becomes mandatory if `signature_authentication_mode` requires a phone number.",
                            "nullable": true
                          },
                          "locale": {
                            "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1approvers~1%7BapproverId%7D/patch/requestBody/content/application~1json/schema/properties/info/properties/locale"
                          }
                        }
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "properties": {
                                "document_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": ["signature"]
                                },
                                "height": {
                                  "type": "number",
                                  "minimum": 37,
                                  "maximum": 32767,
                                  "description": "Default value is 37"
                                },
                                "width": {
                                  "type": "number",
                                  "minimum": 85,
                                  "maximum": 32767,
                                  "description": "Default value is 85"
                                },
                                "page": { "type": "number", "minimum": 1 },
                                "x": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "y": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                }
                              },
                              "required": [
                                "document_id",
                                "type",
                                "page",
                                "x",
                                "y"
                              ]
                            },
                            {
                              "properties": {
                                "document_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": ["mention"]
                                },
                                "width": {
                                  "type": "number",
                                  "minimum": 24,
                                  "description": "If not set, the width is automatically calculated with the mention length"
                                },
                                "page": { "type": "number", "minimum": 1 },
                                "x": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "y": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "mention": { "type": "string" }
                              },
                              "required": [
                                "document_id",
                                "type",
                                "page",
                                "x",
                                "y",
                                "mention"
                              ]
                            },
                            {
                              "properties": {
                                "document_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                                },
                                "type": { "type": "string", "enum": ["text"] },
                                "width": {
                                  "type": "number",
                                  "minimum": 24,
                                  "example": 90,
                                  "description": "If not set, the width is automatically calculated with the max_length value"
                                },
                                "height": {
                                  "type": "number",
                                  "minimum": 24,
                                  "example": 150,
                                  "description": "The height must be 24 or a multiple of 15 greater than 24. If height is provided, max_length must be less than or equal to the maximum number of characters based on the width and height of the text field."
                                },
                                "page": { "type": "number", "minimum": 1 },
                                "x": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "y": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "max_length": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 32767
                                },
                                "question": {
                                  "type": "string",
                                  "example": "Where is Brian ?",
                                  "maxLength": 255
                                },
                                "instruction": {
                                  "type": "string",
                                  "example": "Give Brian's location",
                                  "nullable": true
                                },
                                "optional": { "type": "boolean" }
                              },
                              "required": [
                                "document_id",
                                "type",
                                "page",
                                "x",
                                "y",
                                "max_length",
                                "question",
                                "optional"
                              ]
                            },
                            {
                              "properties": {
                                "document_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": ["checkbox"]
                                },
                                "page": { "type": "number", "minimum": 1 },
                                "x": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "y": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 32767
                                },
                                "size": {
                                  "type": "number",
                                  "minimum": 8,
                                  "maximum": 30,
                                  "description": "The omission of size parameter is considered as deprecated. The size determines both the width and height of the checkbox."
                                },
                                "optional": { "type": "boolean" },
                                "name": {
                                  "type": "string",
                                  "example": "Checkbox 1",
                                  "nullable": true
                                },
                                "checked": { "type": "boolean" }
                              },
                              "required": [
                                "document_id",
                                "type",
                                "page",
                                "x",
                                "y",
                                "optional",
                                "checked"
                              ]
                            },
                            {
                              "properties": {
                                "document_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": ["radio_group"]
                                },
                                "page": { "type": "number", "minimum": 1 },
                                "optional": { "type": "boolean" },
                                "radios": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "x": {
                                        "type": "number",
                                        "minimum": 0,
                                        "maximum": 32767
                                      },
                                      "y": {
                                        "type": "number",
                                        "minimum": 0,
                                        "maximum": 32767
                                      },
                                      "size": {
                                        "type": "number",
                                        "minimum": 8,
                                        "maximum": 30,
                                        "description": "The omission of size parameter is considered as deprecated. The size determines both the width and height of the checkbox."
                                      }
                                    },
                                    "required": ["x", "y"]
                                  }
                                }
                              },
                              "required": [
                                "document_id",
                                "type",
                                "page",
                                "optional",
                                "radios"
                              ]
                            }
                          ],
                          "type": "object"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                        "description": "Insert just after the position of the specified signer id",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "signature_authentication_mode": {
                        "type": "string",
                        "enum": ["otp_email", "otp_sms", "no_otp"],
                        "nullable": true
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      },
                      "delivery_mode": {
                        "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers~1%7BsignerId%7D/patch/requestBody/content/application~1json/schema/properties/delivery_mode"
                      }
                    },
                    "required": ["info", "signature_level"]
                  },
                  {
                    "description": "Create a new signer from an existing user",
                    "properties": {
                      "user_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                        "description": "Create signer from an existing user"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers/post/requestBody/content/application~1json/schema/oneOf/0/properties/fields/items"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                        "description": "Insert just after the position of the specified signer id",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "signature_authentication_mode": {
                        "type": "string",
                        "enum": ["otp_email", "otp_sms", "no_otp"],
                        "nullable": true
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      },
                      "delivery_mode": {
                        "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers~1%7BsignerId%7D/patch/requestBody/content/application~1json/schema/properties/delivery_mode"
                      }
                    },
                    "required": ["user_id", "signature_level"]
                  },
                  {
                    "description": "Create a new signer from an existing contact",
                    "properties": {
                      "contact_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                        "description": "Create signer from an existing contact"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers/post/requestBody/content/application~1json/schema/oneOf/0/properties/fields/items"
                        }
                      },
                      "insert_after_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                        "example": "9a93d3b5-fb3b-4abf-9e70-26315b33506c",
                        "description": "Insert just after the position of the specified signer id",
                        "nullable": true
                      },
                      "signature_level": {
                        "type": "string",
                        "enum": [
                          "electronic_signature",
                          "advanced_electronic_signature",
                          "electronic_signature_with_qualified_certificate",
                          "qualified_electronic_signature_mode_1"
                        ]
                      },
                      "signature_authentication_mode": {
                        "type": "string",
                        "enum": ["otp_email", "otp_sms", "no_otp"],
                        "nullable": true
                      },
                      "redirect_urls": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          },
                          "error": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255,
                            "nullable": true
                          }
                        }
                      },
                      "custom_text": {
                        "type": "object",
                        "properties": {
                          "request_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "request_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          },
                          "reminder_subject": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 150,
                            "nullable": true
                          },
                          "reminder_body": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500,
                            "nullable": true
                          }
                        }
                      },
                      "delivery_mode": {
                        "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1signers~1%7BsignerId%7D/patch/requestBody/content/application~1json/schema/properties/delivery_mode"
                      }
                    },
                    "required": ["contact_id", "signature_level"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Signer",
                  "type": "object",
                  "title": "Signer",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "format": "uuid"
                    },
                    "info": {
                      "type": "object",
                      "required": [
                        "first_name",
                        "last_name",
                        "email",
                        "phone_number",
                        "locale"
                      ],
                      "properties": {
                        "first_name": { "type": "string", "minLength": 1 },
                        "last_name": { "type": "string", "minLength": 1 },
                        "email": {
                          "type": "string",
                          "minLength": 1,
                          "format": "email"
                        },
                        "phone_number": {
                          "type": "string",
                          "minLength": 1,
                          "description": "E.164 format. Becomes mandatory if `signature_authentication_mode` requires a phone number.",
                          "nullable": true
                        },
                        "locale": {
                          "$ref": "#/paths/~1signature_requests~1%7BsignatureRequestId%7D~1approvers~1%7BapproverId%7D/patch/requestBody/content/application~1json/schema/properties/info/properties/locale"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "initiated",
                        "notified",
                        "verified",
                        "processing",
                        "consent_given",
                        "signed",
                        "aborted",
                        "error"
                      ],
                      "minLength": 1
                    },
                    "fields": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "oneOf": [
                          {
                            "title": "FieldSignature",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "document_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["signature"]
                              },
                              "height": {
                                "type": "number",
                                "minimum": 37,
                                "maximum": 32767
                              },
                              "width": {
                                "type": "number",
                                "minimum": 85,
                                "maximum": 32767
                              },
                              "page": { "type": "number", "minimum": 1 },
                              "x": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              },
                              "y": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              }
                            },
                            "required": [
                              "id",
                              "document_id",
                              "type",
                              "height",
                              "width",
                              "page",
                              "x",
                              "y"
                            ]
                          },
                          {
                            "title": "FieldText",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "document_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "type": { "type": "string", "enum": ["text"] },
                              "width": {
                                "type": "number",
                                "minimum": 24,
                                "example": 90,
                                "description": "If not set, the width is automatically calculated with the max_length value"
                              },
                              "height": {
                                "type": "number",
                                "minimum": 24,
                                "example": 150,
                                "description": "The height must be 24 or a multiple of 15 greater than 24. If height is provided, max_length must be less than or equal to the maximum number of characters based on the width and height of the text field."
                              },
                              "page": { "type": "number", "minimum": 1 },
                              "x": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              },
                              "y": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              },
                              "question": {
                                "type": "string",
                                "example": "Where is Brian ?",
                                "maxLength": 255
                              },
                              "instruction": {
                                "type": "string",
                                "nullable": true,
                                "example": "Give Brian's location"
                              },
                              "optional": { "type": "boolean" },
                              "answer": {
                                "type": "string",
                                "nullable": true,
                                "example": "Brian is in the kitchen !"
                              },
                              "max_length": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 32767
                              }
                            },
                            "required": [
                              "id",
                              "document_id",
                              "type",
                              "height",
                              "width",
                              "page",
                              "x",
                              "y",
                              "question",
                              "instruction",
                              "optional",
                              "answer",
                              "max_length"
                            ]
                          },
                          {
                            "title": "FieldMention",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "document_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b6ed2f3-244f-487a-baa1-bbe4f51c8748",
                                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
                              },
                              "type": { "type": "string", "enum": ["mention"] },
                              "height": {
                                "type": "number",
                                "minimum": 24,
                                "maximum": 24
                              },
                              "width": { "type": "number", "minimum": 24 },
                              "page": { "type": "number", "minimum": 1 },
                              "x": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              },
                              "y": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 32767
                              },
                              "mention": { "type": "string" }
                            },
                            "required": [
                              "id",
                              "document_id",
                              "type",
                              "height",
                              "width",
                              "page",
                              "x",
[...]
